doctype html
html
  head
    title='Boilerplate'
    link(
      rel='stylesheet'
      href= app.style
    )
  body
    block content

    script(
      type='text/javascript'
      src= app.script
    )